{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Eni Sortir</h1>
            <h2>La seule ecole a faire un site de sortie pendant le confinement !</h2>
        </div>

    </div>

    <div class="container">
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/1_projects/eni-sortir/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/1_projects/eni-sortir/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
